/*-----buttons----*/
// .button {
// 	&.btn-c {
// 				display: inline-flex;				
// 				align-items: center;
// 				justify-content: center;
// 				font-family: "Manrope-Medium";
// 				font-weight: 500;
// 				font-size: 1rem;
// 				line-height: 1;
// 				width: 13.75rem;
// 				height: 3.4375rem;
// 				background: rgba(255, 255, 255, 0.05);
// 				color: #ffffff;
// 				border: 1px #ffffff solid;
// 				&:hover {
// 					background: $global-color;
// 					border-color: $global-color;
// 				}
// 			}
// }

.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0;outline: none;
	background: none;
}


.green-link {
	position: relative;
	display: inline-block;
	width: 100%;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: var(--green-color);
	transition: .3s ease;
	&:before {
		content: attr(data-text);
		position: absolute;
		left: 0;
		filter: blur(8px);
	}
  &:not(:last-child) {
    margin-bottom: 5px;
  }
	&:hover {
		text-decoration: underline;
		color: transparent;
	}
}

.btn-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 40px;
	height: 40px;
	outline: none;
  border: 0;
  background: none;
	transition: .3s ease;
	cursor: pointer;
  i {
    font-size: 26px;
    line-height: 1;
    color: var(--font-color);
		transition: .3s ease;
    &:hover {
      color: var(--green-color);
    }
  }
}


.link-lg {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.25;
	@include gold-gradient-text;
	transition: .3s ease;
	cursor: pointer;
	i {
		margin-left: 8px;
		@include gold-gradient-text;
		transition: .3s ease;
	}
	&:hover {
		@include gold-gradient-text-hover;
		i {
			transform: rotate(-45deg);
			@include gold-gradient-text-hover;
		}
	}
}
.link-xl {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 300;
	font-size: 40px;
	line-height: 1.25;
	text-transform: uppercase;
	@include gold-gradient-text;
	transition: .3s ease;
	cursor: pointer;
	i {
		margin-left: 15px;
		@include gold-gradient-text;
		transition: .3s ease;
	}
	&:hover {
		@include gold-gradient-text-hover;
		i {
			transform: rotate(-45deg);
			@include gold-gradient-text-hover;
		}
	}
}
