/*-----pagination-----*/
.pagination {
	margin: 1.25rem 0;
}
.screen-reader-text{
	display: none;
}
.nav-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	@media (max-width: 414px) {
		margin: 1.25rem -0.625rem;
	}
	.page-numbers {
		width: 1.875rem;
		height: 1.875rem;
		background-color: #ededed;
		color: #383838;
		border-radius: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 0.3125rem;
		transition: color 0.3s ease-in, background-color 0.3s ease-in;
		@media (max-width: 414px) {
			width: 1.5rem;
			height: 1.5rem;
			margin: 0.3125rem;
		}
		@media (max-width: 22.5rem) {
			&:nth-child(6) {
				display: none;
			}
		}
		.disabled {
			opacity: 0;
		}
	}
	.current {
		background-color: $global-color;
		color: $white-color;
	}
	a.page-numbers {
		&:hover {
			background-color: $hoverGlobal-color;
			color: $white-color;
		}
	}
	.dots {
		width: 1.4286rem;
		border: none;
		background-color: transparent;
	}
	.prev,
	.next {
		background-color: transparent;
		@media (max-width: 414px) {
			width: 1.5625rem;
			height: 1.5625rem;
			margin: 0.25rem;
			padding: 0;
		}
		&:after {
			content: "";
			border-top: 0.125rem solid #383838;
			border-left: 0.125rem solid #383838;
			/*margin: 0.625rem;*/
			width: 0.5rem;
			height: 0.5rem;
		}
		&:hover {
			&:after {
				border-color: $white-color;
			}
		}
	}

	.prev {
		left: 0;
		transform: rotate(-45deg);
	}
	.next {
		right: 0;
		transform: rotate(135deg);
	}
}
