.swiper {
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
}
.scroll-container .swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}