<!--------Modal-------->

<div class="state" data-state="download">
	<div class="state-box">
		<div class="close"></div>
		<div class="widget-title">Free download</div>
		<div class="section-title">Guest Posting Workbook</div>
		<form class="forma" action="">
			<label class="wide-row" for="">
				<input type="text" class="form-input" value="" placeholder="Your name">
			</label>
			<label class="wide-row" for="">
				<input type="email" class="form-input" value="" placeholder="Email">
			</label>
			<button type="submit" class="button button-global to-state" data-state="thanks">Download Now</button>
			<!--с кнопки убрать класс to-state и data-state="thanks", они для демонстрации окна после отправки формы-->
			<p class="acept center">By creating an account on Fastento, you acknowledge and agree to our <a href="">Terms of
					Use</a>
				and
				<a href="">Privacy Policy</a>.
			</p>
		</form>
	</div>
</div>